{{!< default}}

{{#tag}}

{{> index-meta}}

<section class="wrapper">
    <div class="container">
        <header>
            <h1 class="title">"{{name}}" Archives</h1>
        </header>
    </div>
</section>

{{/tag}}

{{> excerpts}}